<!DOCTYPE html >
<html lang="en" ng-app="MyApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/jquery/dist/jquery.slim.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <script src="index.js"></script>
</head>
<body ng-controller="MyCtrl as ctrl">
    <!--input type="text" ng-model="pear.expression">
    <textarea ng-model="pear.apple"></textarea>
    <h1>Hello {{pear.expression}}</h1>
    <h1>Hello {{pear.apple}}</h1>
    <button ng-click='pear.add("1")'> 1 </button>
    <button ng-click='pear.add("+")'> + </button>
    <button ng-click='pear.calculate()'> = </button-->
    <div class="container">
        <h1> My Shopping Cart </h1>
        Item: <input type="text" class="formgroup" placeholder="Enter your items" ng-model="ctrl.item">
        <button type="submit" class="btn btn-success" ng-click="ctrl.addToCart()">Add to cart</button>

        <h1>
            My Basket (<span ng-show="ctrl.items.length==0">Empty</span><span ng-show="ctrl.items.length">{{ctrl.items.length}}</span>)
        </h1>
        <ul>
            <li ng-repeat="i in ctrl.items" ng-click="ctrl.delete(i)">
                {{i}};
            </li>
        </ul>
    </div>
</body>
</html>