.card{
    padding:5%;
    border-radius:2em;
    background-color:red;
    padding-left:0;
    padding-right:0;

}

.text{
    text-align: center;
}

.whitetext{
    color:white;
}
.blacktext{
    color:black;
    padding:2em;
}
h1{
    font-size:3em;
}
#name{
    background-color:white;
    padding:10%;

}