<div class="container" ng-controller="SearchCtrl as ctrl">

    <h1>Search Here :</h1>

    <form name="queryForm" novalidate class="form-inline">
        <div class="form-group">
            <input id="deptName" class="form-control" type="text" name="deptName" ng-model="ctrl.deptName"
                   placeholder="Enter department name">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.search()">
                Search Department
            </button>
            <button class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.searchForManager()">
                Search with Department Manager Info
            </button>
        </div>
    </form>
    <hr>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Department No</th>
            <th>Department name</th>
            <th ng-show="ctrl.showManager">Department Manager Id</th>
            <th ng-show="ctrl.showManager">Department Manager Name</th>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="dept in ctrl.departments">
            <td>{{dept.dept_no }}</td>
            <td>{{ dept.dept_name }}</td>
            <td>
            <span ng-show="ctrl.showManager">
                 <!-- Handles display of departments that have not been assigned any manager -->
                {{ dept.managers[0] ? dept.managers[0].emp_no : " "}}
            </span>
            </td>
            <td>
            <span ng-show="ctrl.showManager">
                 <!-- Handles display of departments that have not been assigned any manager -->
                {{ dept.managers[0]
                ? (dept.managers[0].employee.first_name + " " + dept.managers[0].employee.last_name)
                : " "}}
            </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>