<div style="margin:30px">
<h2>Upload File</h2>

<form name="UploadForm" novalidate ng-submit="uploadCtrl.upload()" autocomplete="off">

    <div class="form-group">

        <input id="file" type="file" ng-model="uploadCtrl.imgFile" ngf-select accept="image/*">

    </div>

    <div class="form-group" style="margin-bottom:10px">

        <img ngf-thumbnail="uploadCtrl.imgFile" width="70px">

    </div>


    <div class="form-group">

        <button type="submit">Upload</button>

    </div>

    <div class="alert" role="alert" alert-dismissable ng-show="uploadCtrl.status.code"
         ng-class="{'alert-success': uploadCtrl.status.code == 202, 'alert-danger': uploadCtrl.status.code == 400 }">

        <button class="close" data-dismiss="alert">

            <!-- data dismiss removes the element. This alert won't show up again before refreshing -->
            &times;

        </button>

        {{ uploadCtrl.status.message }}

    </div>

</form>

</div>
