<!DOCTYPE html>
<html lang="en" ng-app="Apple" >
<head>
    <meta charset="UTF-8">
    <title>Name list</title>
    <script src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="controller.js"></script>
</head>
<body ng-controller="RegCtrl as ctrl">

<table>
    <thead>
        <th>First Name</th>
        <th>Last Name</th>
    </thead>
    <tbody>
        <tr ng-repeat="person in ctrl.people">
            <td>{{person.first}} {{ctrl.people.length}}</td>
            <td>{{person.last}}</td>
        </tr>
        <tr>
            <td><input ng-model="ctrl.addFirst" type="text" placeholder="blah"></td>
            <td><input ng-model="ctrl.addLast" type="text" placeholder="blah"></td>
            <td><button ng-click="ctrl.addPerson()">Add</button></td>
        </tr>
    </tbody>
</table>

</body>
</html>