<div class="container" ng-controller="SearchCtrl as search">

    <h1>Search Here :</h1>

    <form name="queryForm" novalidate class="form-inline">
        <div class="form-group">
            <input id="deptName" class="form-control" type="text" name="deptName"
                  ng-model="search.searchForm.dept_name" placeholder="Enter department name">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid">
                Search Department
            </button>
            <button  class="btn btn-info form-control" ng-disabled="queryForm.$invalid">
                Search Department Manager
            </button>
        </div>
    </form>
    <hr>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Department No</th>
            <th>Department Name</th>
            <th>Department Manager Id</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1234</td>
            <td>
                <div ng-hide="ctrl.editorEnabled">
                    {{ ctrl.result.dept_name }}
                    <a >
                        &nbsp;<i ng-click="ctrl.enableEditor()" class="fa fa-pencil fa-lg" aria-hidden="true" ></i>
                    </a>
                </div>
                <div ng-show="ctrl.editorEnabled">
                    <input class="form-control" size="3" ng-model="ctrl.editableDeptName" ng-show="ctrl.editorEnabled">
                    <a href="#" ng-click="ctrl.save()">Save</a>
                    or
                    <a href="#" ng-click="ctrl.disableEditor()">cancel</a>.
                </div>
            </td>
            <td>10001
                <a >
                    &nbsp;<i ng-click="ctrl.deleteSalary(ctrl.result.emp_no)" style="color:red" class="fa fa-trash fa-lg" aria-hidden="true" ></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>