<div class="container" ng-controller="InsertCtrl as ctrl">

    <h2>Add Department</h2>

    <form name="regForm" novalidate ng-submit="ctrl.register()" autocomplete="off">

        <div class="form-group">
            <label for="deptNo">Department No:</label>
            <input type="number" id="deptNo" name="deptNo" class="form-control"
                   ng-model="ctrl.department.dept_no" required>
            <span class="help-block" ng-show="regForm.deptNo.$invalid">
                Please enter department number.</span>
        </div>

        <div class="form-group">
            <label for="deptname">Department name:</label>
            <input type="text" id="deptname" name="deptname" class="form-control"
                   ng-model="ctrl.department.dept_name" required>
            <span class="help-block" ng-show="regForm.deptname.$invalid">
                Please enter department Name.</span>
        </div>

        <div class="form-group">
            <label for="manager">Manager:</label>
            <!-- In this select box, ng-options displays select box value as employee.first_name +
            employee.last_name, however the value that is bounded to the model (ctrl.department.manager)
             is the employee.emp_no -->
            <select id="manager" name="manager" class="form-control"
                    ng-options="employee.emp_no as employee.first_name + ' ' + employee.last_name
                    for employee in ctrl.employees"
                    ng-model="ctrl.department.manager" required>
            </select>
            <span class="help-block" ng-show="regForm.manager.$required">
                Please choose a manager.</span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn-success form-control"
                    ng-disabled="regForm.$invalid">
                Register
            </button>
        </div>
    </form>

    <div class="alert" role="alert" alert-dismissable ng-show="ctrl.status.success"
         ng-class="{'alert-success': ctrl.status.success == 'ok', 'alert-danger': ctrl.status.success == 'error' }">

        <button class="close" data-dismiss="alert">
            <!-- data dismiss removes the element. This alert won't show up again before refreshing -->
            &times;
        </button>

        {{ ctrl.status.message }}

    </div>

</div>