<div ng-controller="HttpCtrl as ctrl">

    <!--Add code to display products and their price here -->

    <div class="col-xs-3 product">
        <h1>Coca Cola</h1>
        <span class="price">
            S$ 10
        </span>
        <span>
            S$ 8
        </span>
    </div>

</div>