<div ng-controller="QCtrl as ctrl">
    <div class="col-xs-6 product" data-ng-repeat="product in ctrl.products">
        <h1>{{product.name}}</h1>
        <span class="price">
            {{product.price | currency:"S$"}}
        </span>
        <span>
            {{product.discountedPrice | currency:"S$"}}
        </span>
    </div>
</div>