<hr class="container">

    <h1>Search Here :</h1>

    <form name="queryForm" novalidate class="form-inline">
        <div class="form-group">
            <select class="form-group" ng-model="ctrl.selectedName" ng-options="name.displayName for name in ctrl.names">
            </select>
            <input id="empName" class="form-control" type="text" name="empName"
                   placeholder="Enter employee name" ng-model="ctrl.empName">
        </div>
        <div class="form-group">
            <button ng-click="ctrl.search()" type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid">
                Search
            </button>
            <button ng-click="ctrl.searchForSalary()" class="btn btn-info form-control" ng-disabled="queryForm.$invalid">
                Search with Salary
            </button>
        </div>
    </form>
    <hr>
    <div class="alert alert-info" role="alert">
        <strong>Note :</strong> Only first 10 records will be shown
    </div>

    <table class="table table-striped" ng-show="ctrl.result">
        <thead>
        <tr>
            <th>Employee number</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Gender</th>
            <th>Birth date</th>
            <th>Hire date</th>
            <th ng-show="ctrl.showSalary">Salary</th>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="emp in ctrl.result">
            <td><a ng-click="ctrl.showEmployee(emp.emp_no)">{{emp.emp_no }}</a></td>
            <td>{{ emp.first_name }}</td>
            <td>{{ emp.last_name }}</td>
            <td>{{ emp.gender }}</td>
            <td>{{ emp.birth_date | date }}</td>
            <td>{{ emp.hire_date | date }}</td>
            <td ng-show="ctrl.showSalary">{{ emp.salaries[0].salary |  currency:"S$ "}}</td>
        </tr>
        </tbody>
    </table>
</div>