<html lang="en" ng-app="App">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="controller.js"></script>
    <link rel="stylesheet" href="bower_components/angular/angular-csp.css">
</head>
<body ng-controller="AppCtrl as ctrl" class="ng-cloak">
    <div class="container">
        <div class="col-md-6 col-lg-6 col-lg-offset-3 col-md-offset-3">
            <form class="form-horizontal" novalidate ng-submit="ctrl.submit()" name="signupForm">
                <legend class="page-header">Express App Example</legend>
                <div class="form-group required">
                    <label for="Email">Email Address:</label>
                    <input type="email" id="Email" name="Email" ng-model="ctrl.mail">
                    <div class="validation alert-danger" data-ng-show="signupForm.Email.$touched || signupForm.$submitted">
                        <div data-ng-show="signupForm.email.$error.required"><!--if it is not given-->
                            <span class="glyphicon glyphicon-alert"> email is mandatory</span>
                        </div>
                        <div data-ng-show="signupForm.email.$error.email"><!--if it is in invalid format-->
                            <span class="glyphicon glyphicon-alert"> invalid email</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Password">Password:</label>
                    <input type="password" id="Password">
                </div>
                <div class="form-group">
                    <label for="Radio">Radios:</label>
                    <div id="Radio">
                        <div class="radio">
                            <label><input type="radio" ng-model="ctrl.can" value="Option 1">Option 1</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" ng-model="ctrl.can" value="Option 2">Option 2</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" ng-model="ctrl.can" value="Option 3">Option 3</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Checkbox">Checkbox:</label>
                    <input type="checkbox" id="Checkbox" ng-model="ctrl.check" value="I am checked">Check me out
                </div>
                <button class="btn-primary" type="submit" ng-click="ctrl.submit()">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>


