<ul class="nav nav-pills nav-stacked">
    <li data-ng-class="{ 'active' : main.isOpen(main.pageType.TIMEOUT)}">
        <a data-ng-click="main.open(main.pageType.TIMEOUT)">
            1. Timeout
        </a>
    </li>
    <li data-ng-class="{ 'active' : main.isOpen(main.pageType.HTTP)}">
        <a data-ng-click="main.open(main.pageType.HTTP)">
            2. $http
        </a>
    </li>
    <li data-ng-class="{ 'active' : main.isOpen(main.pageType.Q)}">
        <a data-ng-click="main.open(main.pageType.Q)">
            3. $q
        </a>
    </li>
</ul>